#container {
  margin: 0px auto;
  width: 500px;
  height: 375px;
}

#videoElement {
  width: 500px;
  height: 375px;
  background-color: #666;
}

.button a { 
  float: center;
  color: #e09cf7;
  text-align: center;
  vertical-align: center; 
  padding: 12px 24px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 2px; 
}

.button a:hover{
  background-color: #e09cf7; 
  color: #eee;
}

.button{
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background: #eee;
  padding: 12px 0px;
  cursor: pointer;
  border: 3px solid #e09cf7;
  font-family: 'Oswald', sans-serif;
}

#capture.button{
	width: 200px; 
}